@charset "UTF-8";
body {
    
    width: 340px;
    height: 340px;
    border: 45px solid rgb(105, 45, 45);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 35%;
    }

